	/*********************************************
	 ** Stylesheet file for default Flux theme. **
	 *********************************************/

body {
	margin: 10px;
	padding: 10px;
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
}

h2 {
	margin-bottom: 15px;
	font-family: Georgia, "Times New Roman", serif;
	font-weight: normal;
	background-color: #eee;
	border-bottom: 1px solid #aaa;
}

p {
	margin: 0 0 5px 0;
	font-size: 90%;
}

table {
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 90%;
}

input {
	outline-color: #ddd;
}

input[type=text], input[type=password], textarea {
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 100%;
	color: #222;
}

.module-name, .action-name {
	font-size: 150%;
}

.fs-path {
	font-size: 100%;
	background-color: #eee;
}